Host mountain-gateway
    Hostname 10.12.2.101
    User root

Host mountain-ap102
    Hostname 10.12.2.102
    User root
Host mountain-ap103
    Hostname 10.12.2.103
    User root

Host mountain-ap104
    Hostname 10.12.2.104
    User root

Host mountain-ap105
    Hostname 10.12.2.105
    User root

Host mountain-ap106
    Hostname 10.12.2.106
    User root

Host mountain-ap107
    Hostname 10.12.2.107
    User root

Host mountain-ap108
    Hostname 10.12.2.108
    User root

Host mountain-ap109
    Hostname 10.12.2.109
    User root

Host mountain-ap110
    Hostname 10.12.2.110
    User root