{% for network in networks %}
config setting 'anchor'
	option node_id '{{ network['prefix'] | ipsubnet('32', network['assignments'][inventory_hostname]) | ipaddr('address') | split('.') | last }}'
	option channel '{{ avarange['channel'] }}'
	option txPreambleLength '{{ avarange['txPreambleLength'] }}'
	option txCode '{{ avarange['txCode'] }}'
	option rxCode '{{ avarange['rxCode'] }}'
	option dataRate '{{ avarange['dataRate'] }}'
	option power '{{ avarange['power'] }}'
	option participating_anchor_ips '{{ avarange['participating_anchor_ips'] }}'
	option sfdTimeout '{{ avarange['sfdTimeout'] }}'
{% endfor %}
