package babeld

config general
        option 'local_port' '33123'
        option 'ipv6_subtrees' 'true'
        option 'ubus_bindings' 'true'

config interface
        option 'ifname' 'wlan2-mesh'

config interface
        option 'ifname' 'vpn'

config filter
        option 'type'   'redistribute'
        option 'ip'     '0.0.0.0/0'
        option 'eq'     '0'

config filter
        option 'type'   'redistribute'
        option 'ip'     '10.12.0.0/24'
        option 'eq'     '24'

config filter
        option 'type'   'redistribute'
        option 'ip'     '10.12.2.1/32'
        option 'local'  'true'
        option 'eq'     '32'

config filter
        option 'type'   'redistribute'
        option 'ip'     '10.12.0.0/24'
        option 'eq'     '24'

config filter
        option 'type'   'redistribute'
        option 'local'  'true'
        option 'action' 'deny'
