config interface 'loopback'
	option device 'lo'
	option proto 'static'
	option ipaddr '127.0.0.1'
	option netmask '255.0.0.0'
        option dns '{{ dns_servers | join(' ') }}'

config globals 'globals'
	option ula_prefix 'fd12:6e63:4d3f::/48'

config device
	option name 'br-lan'
	option type 'bridge'
	list ports 'eth0.1'

config interface 'lan'
	option device 'br-lan'
	option proto 'static'
	option ipaddr '10.13.1.1'
	option netmask '255.255.255.0'
	option ip6assign '60'

config device
	option name 'wan'
	option macaddr '64:70:02:3e:aa:d3'

config interface 'wan'
	option device 'wan'
	option proto 'dhcp'

config interface 'wan6'
	option device 'wan'
	option proto 'dhcpv6'

config switch
	option name 'switch0'
	option reset '1'
	option enable_vlan '1'

config switch_vlan
	option device 'switch0'
	option vlan '2'
	option ports 'lan1 lan2 lan3 lan4'

config interface 'vpn'
	option proto 'wireguard'
	option private_key 'yB4OJj/w6lwEo89hEsJo/aM2sZddVmxhmEgV3pKrJEs='
	list addresses '10.12.0.3/24'
	list addresses 'fdf1:e8a1:8d3f:9::2/64'

config wireguard_vpn 'wgserver'
	option public_key 'fnEZ+kcSIeSJPrGjJg8Yw1+Snsqj1e6GN2cPMIOBz0Q='
	option endpoint_host 'avarange.tkn.tu-berlin.de'
	option endpoint_port '51194'
	option route_allowed_ips '0'
	option persistent_keepalive '25'
	list allowed_ips '0.0.0.0/0'
	list allowed_ips '::/0'

config interface 'mesh_network'
	option proto 'static'
	option ipaddr '10.12.2.101/32'
