config wifi-device 'radio0'
	option type 'mac80211'
	option hwmode '11g'
	option path 'platform/18000000.wmac'
	option htmode 'VHT20'
	option band '2g'
	option channel '13'
	option country 'DE'
	option legacy_rates '0'

config wifi-iface 'radio0_if0'
	option device 'radio0'
	option ifname 'wlan2-mesh'
	option mode 'adhoc'
	option ssid 'Mountain-Mesh'
	option mcast_rate '12000'
	option network 'mesh_network'

config wifi-device 'radio1'
	option type 'mac80211'
	option path '1a143000.pcie/pci0000:00/0000:00:00.0/0000:01:00.0'
	option channel '13'
	option band '2g'
	option htmode 'HT20'
	option disabled '0'

config wifi-iface 'default_radio1'
	option device 'radio1'
	option network 'uplink_network'
	option mode 'sta'
	option ssid 'Schwammerl2'
	option encryption 'psk2+tkip+ccmp'
	option key 'Lawine2021!'
